{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", {name: "master", prerelease: true}],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": "index.js"
    }]
  ]
}